
/* Start Variables */
:root {
 
--praimary-color: #3A4F39;/*Dark green-buttons */
 --Grey-input-text:#ABABAB;
--Black-fonts-headings:#2D2E2E;
--Light-grey-input-fields-forms:#F6F6F6;
--White-background:#FFFFFF;
--Light-green-background:#EFF6F3;
--yallow:#F8D254;
--green:#A0CD9E
}
/* End Variables */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

.center{
color: #2D2E2E;
  text-align: center;
  font-family: Inter;
}
.center .fivehanderd{

font-size: 220px;
font-weight: 900;
line-height: 266px;
letter-spacing: 0em;

}
.center .websection {
font-size: 96px;
font-weight: 600;
line-height: 116px;

}



.center button { 
background-color:var(--praimary-color);
border-radius: 1111px;
display: grid;
align-content: center;
color:var(--Light-green-background);
gap: 12px;
width:305px;
height:98px;
font-family: Inter;
font-size: 48px;
font-weight: 600;
line-height: 58px;
letter-spacing: 0em;
margin-left: 200px;

}

 .cover ,.info
{
background-color:var(--yallow);
height:fit-content;
margin-top: 10px;
}
  
.grid-container {
  display: grid;
  justify-content: center;
    justify-items: stretch;
  grid-template-columns: auto auto auto;

  
}
.grid-item {
  background-color:var(--yallow);
 
  font-size: 30px;
  
}

.div1 img{
  width: 324px;
height: 145px;
top: -149px;
left: 1134px;


border: 1px;
display: grid;
gap: 12px;

}
.div2 img{

width: 386.97px;
height: 125.5px;
top: -28px;
left: -162px;

border: 1.1px;
display: grid;
gap: 13.21px;
}
.div3 img{
  width: 324px;
height: 345px;
top: 196px;
left: -310px;
/*padding: '71px, 115px, 70.21px, 116px';*/

border: 1px;
display: grid;
gap: 24px;

}
.div4 img{
  width:324px;
height: 345px;
top: 280px;
left: 1285px;
padding: '70px,29px,29.12px,29px';

border: 1px;
display: grid;
gap: 12px;

}
.div5 img{
  width: 324px;
height: 145px;
top: 667px;
left: -99px;

border: 1px;
display: grid;
gap: 24px;

}
.div6 img{
  width: 324px;
height: 145px;
top: 745px;
left: 1064px;
padding: '72px, 21.93px, 70.1px, 22px';

border: 1px;
display: grid;
gap: 12px;

}

/* info style*/
.info{
font-family: Poppins;
letter-spacing: 1px;
text-align: left;
padding: 40px;
}
.want_more p{

font-size: 64px;
font-weight: 700;
line-height: 96px;

}
.info .free p{

font-size: 40px;
font-weight: 500;
line-height: 60px;
}

.info a{
  font-family: Poppins;
font-size: 40px;
font-weight: 600;
line-height: 60px;
letter-spacing: 0em;
text-align: left;
color: var(--praimary-color);
}
